{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home from Global</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1> Style is working  properly....</h1>
    <img src="{% static 'img/whitebeard.jpg' %}" height="400" width="400" alt ="Spider man">
    {% for sport in sports %}
    <div class="training-container">

        <section class="training-card">

            {% if sport.coverImage %}
                <img src="{{ sport.coverImage.url }}" alt="{{ sport.coverImage.name }}" height="200" width="auto">
            {% else %}
                <p>No image available</p>
            {% endif %}
            
            <div class="card-top">
                <h2>{{sport.name}}</h2>

                <div class="duration">
                    <span>{{sport.playtime}}</span>
                </div>
            </div>

            <p class="training">
                {{sport.training}}
            </p>

            <article>
                <p>
                    {{sport.description}}
                </p>
            </article>

        </section>

    </div>
    {% endfor %}
</body>
</html>